$background: #0f7595;
$foreground: #ffffff;

$fontfamily: Neighbourhood, sans-serif;
$fontsize: 4vmin;
//$lineheight: 1.5 !default;
$headingLineheight: 1 !default;
//
//$hpadding: 10vw !default;
//$vpadding: 10vh !default;
//$maxcontentwidth: 64em !default;
//$verticalRhythm: 1em !default;

$secondary: #d34;
$tertiary: #012340;
$info: #2b242b;
$mint: #84ecff;
$dark: #2b242b;
$highlight: #ffe600;
$white: #fff;
$code: #0195ea;
$a11yance: #0061ff;

$html: #E65127;
$aria: #009900;
$css: #0C73B8;
$javascript: #E7A328;
$content: purple;
